# Python - Compilación y Caché
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Entornos Virtuales
venv/
.venv/
env/
venv.bak/

# PyInstaller - Compilación y Distribución
build/
dist/
*.spec

# Logs de Aplicación
*.log

# Certificados y Scripts de Firma (SENSITIVO)
*.pfx
*.cer
*.ps1
*.manifest

# Archivos de Salida y Temporales
output/
*.exe
*.rar
*.zip

# Otros
.vscode/
.idea/
.DS_Store
Thumbs.db